#toy-container {
  padding: 40px 0;
  background-image: linear-gradient(
    to right,
    #305183,
    #586aa0,
    #7e85bd,
    #a5a0da,
    #ccbdf8
  );
  min-height: 100vh;
}

.select-size {
  width: 60px;
}
#seacrh-input {
  width: 250px;
}


.p-size{
  width: 75px;
  height: 50px;
}