.animated-block {
  position: relative;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.animated-block:hover {
  transform: translateY(-10px);
}

.animated-block-inner {
  position: relative;
  z-index: 1;
}

.animated-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.animated-block:hover::before {
  opacity: 1;
}
